html, body {
  background: lightgoldenrodyellow;
  @media (prefers-color-scheme: dark) {
    background: black;
    color: lightgoldenrodyellow;
  }
}


h1, h2, h3, h4, p, li {
  @media (prefers-color-scheme: dark) {
    color: lightgray;
  }
}

a {
  color: blue;
  @media (prefers-color-scheme: dark) {
    color: cyan;
  }
}
