@use 'variables' as var;

code {
  font-family: var.$monospaced;
  font-kerning: none;
  font-variant-ligatures: none;
  // background: var.$blueLightCode;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #fff; // was #a9eafa
  background-color: transparent;
  font-family: var.$monospaced;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
.astro-code {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code {
  color: #000;
  background: var.$blueLightCode; /* #27282a for checking in WebAIM */
  @media screen and (prefers-color-scheme: dark) {
    color: #fff;
    background: var.$code-bkgd-dark-mode;
  }
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}
