---
export interface Props {
	noteText: string;
}

import { Markdown } from 'astro/components';

---
<style lang="scss">
  @use '../styles/variables' as var; // SCSS partial
  .blueBox {
    background: hsl(200, 100%, 95%);
    font-family: var.$sans-serif;
    display: block;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 20%);
    margin: 0.5em auto;
    width: 100%;
    padding: 1em 1.25em;
    @media (prefers-color-scheme: dark) {
      background: hsl(200, 100%, 20%);
      border: 1px solid var.$grey-1;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 85%;
    }
  }
</style>

<div class="blueBox">
	<p><slot /></p>
</div>
