---
// import '@styles/Nav.scss'

let allPosts = await Astro.glob('../pages/posts/**/*.md')
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
let newestPost = allPosts[0].url
---

<style lang="scss">
  @use '../styles/variables' as var; // SCSS partial

  header {
    font-family: var.$sans-serif;
    position: fixed;
    width: 100%;
    margin-top: 0;
    background-color: var.$black;
    @media screen and (prefers-color-scheme: dark) {
      background-color: var.$darkblue;
    }
    z-index: 9999;
  }

  .nav {
    color: var.$white;
    background-color: var.$black;
    @media screen and (prefers-color-scheme: dark) {
      background-color: var.$darkblue;
    }
    &-Toggle {
      position: absolute;
      cursor: pointer;
      margin: 0rem 1rem;
      right: 0;

      svg {
        width: 1.5rem;
        fill: var.$white;
      }
      .close {
        display: none;
      }
      .menu {
        margin-top: 0.2rem;
      }
    }

    &-Checkbox {
      display: none;
    }

    &-Menu {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      background-color: var.$black;
      @media screen and (prefers-color-scheme: dark) {
        background-color: var.$darkblue;
      }
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: right;
      // align-items: right;
      margin: 0.5rem 0.5rem 0.5rem 0;
      li {
        list-style: none;
        display: none;
        font-weight: bold;
        padding-right: 0.75em;
        &.notMobile {
          display: none;
        }

        &:first-child {
          padding: 0;
          margin-right: auto;
          margin-left: 1.5rem;
          display: block;
          svg { // for site logo
            width: auto;
          }
        }
      }

      a {
        text-decoration: none;
        border: 0 !important; // scoping issues (!?)
        color: var.$white;
        &:focus, &:active, &:hover {
          color: var.$grey-2;
        }
      }

      svg {
        width: 1.5rem;
        fill: var.$white;
      }
    }
  }

  #nav-Checkbox:checked ~ ul.nav-Menu li {
    display: block;
  }

  #nav-Checkbox:checked ~ label.nav-Toggle .close {
    display: block;
  }

  #nav-Checkbox:checked ~ label.nav-Toggle .menu {
    display: none;
  }

  #nav-Checkbox:checked ~ ul.nav-Menu {
    padding-bottom: 1rem;
  }

  // now, larger screens

  @media only screen and (min-width: var.$bkpt_lg) {
    .nav {
      &-Toggle {
        display: none;
      }

      &-Menu {
        flex-direction: row;
        padding: 0;
        gap: 0.5rem;
        margin: 0.5rem 1.5rem 0 0;

        li {
          font-size: var.$pokey;
          display: block;
          text-transform: uppercase;
          // letter-spacing: 0.2em;
          margin: 0.5rem 0 0.5rem 0;
          // padding: 0;
          &.notMobile {
            display: block;
          }

          &:first-child {
            letter-spacing: normal;
            line-height: 0;
            margin-top: 0;
          }
        }
      }
    }
  }
</style>

<header>
  <nav class="nav">
    <input type="checkbox" id="nav-Checkbox" class="nav-Checkbox">
    <label for="nav-Checkbox" class="nav-Toggle">
      <svg class="menu" viewBox="0 0 448 512" width="100" title="bars"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" /></svg>
      <svg class="close" viewBox="0 0 384 512" width="100" title="times"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" /></svg>
    </label>
    <ul class="nav-Menu">
      <li><a href="/" aria-label="Home page"><img src="/assets/images/svgs/svgNavIcon.svg" alt="Logo for brycewray.com website" /></a></li>
      <li><a href="/about/" aria-label="About me">About</a></li>
      <li><a href={newestPost} title="Newest post" aria-label="Newest post">Newest post</a></li>
      <li><a href="/posts/" aria-label="Posts">All posts</a></li>
      <li><a href="/privacy/" aria-label="Privacy policy">Privacy</a></li>
      <li><a href="/contact/" aria-label="Contact me">Contact</a></li>
    </ul>
  </nav>
</header>
