---
import '@styles/Shiki.scss'
// import '@styles/Heroimg.scss'
import '@styles/Posts.scss'
import '@styles/Footnotes.scss'

// import Comments from "@components/Comments.astro"
---

<div class="container-narrower">
  <article class="content article">
    <slot />
  </article>
</div>
