---
const { title, author, publishDate } = Astro.props;
---

<div class="container-narrower">
  <header>
    <h1 class="title">{title}</h1>
    <p class="publish-date">{publishDate}</p>
  </header>
	<article class="content article">
    <main>
      <slot />
    </main>
	</article>
</div>
