---
/*
  =======
  Based on...
  - https://github.com/hugomd/blog/blob/6ad96b24117255c2a9912c566ffd081bd9bbd6f1/layouts/shortcodes/statictweet.html
  - https://hugo.md/post/update-rendering-static-tweets/
  - https://github.com/KyleMit/eleventy-plugin-embed-tweet
  - https://www.stackbit.com/blog/advanced-hugo-templates/
  - https://github.com/rebelchris/astro-static-tweet/blob/master/StaticTweet.astro
  =======
*/

const { TweetID } = Astro.props

const BearerToken = import.meta.env.PUBLIC_BEARER_TOKEN
// const AuthHeaders = "Authorization: Bearer " + BearerToken
const jsonURL1 = "https://api.twitter.com/2/tweets?ids="
const jsonURL2 = "&expansions=author_id,attachments.media_keys&tweet.fields=created_at,text,attachments,entities,source&user.fields=name,username,profile_image_url&media.fields=preview_image_url,type,url,alt_text"

const response = await fetch(jsonURL1 + TweetID + jsonURL2, {
  method: "get",
  headers: {
    "Authorization": `Bearer ${BearerToken}`
  }
})
const Json = await response.json()
const JsonData = Json.data[0]

let text = ''; let created_at = ''; let profile_image_url = ''; let name = ''; let username = ''

text = JsonData.text
console.log("text = ", text)
---

<p>Tweet will go here</p>
<p>{text}</p>
