---
/*
  =======
  Based on...
  - https://github.com/hugomd/blog/blob/6ad96b24117255c2a9912c566ffd081bd9bbd6f1/layouts/shortcodes/statictweet.html
  - https://hugo.md/post/update-rendering-static-tweets/
  - https://github.com/KyleMit/eleventy-plugin-embed-tweet
  - https://www.stackbit.com/blog/advanced-hugo-templates/
  =======
*/


// let BearerToken = import.meta.env.BEARER_TOKEN
const { BEARER_TOKEN } = import.meta.env

---

<p>A tweet will go here.</p>
