---
const { TweetID } = Astro.props;

let urlPre = "https://cdn.syndication.twimg.com/tweet?id="
let response = await fetch(urlPre + TweetID)
let data = await response.json()
let Text = data.text

---

<p><strong style="color: red;">Pulled content</strong> =<br />
<span style="color: green;">{Text}</span></p>
